@*
    Author: Jacob Storer
    Date: 08/09/2019
    Description: Movie Rental Application
    Framework: ASP.NET
    Uses: Razor, MVC, ViewModels & Models
*@
@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
@if (Model.Movies.Count == 0) // Data exists?
{
    <tr><td>We don't have any movies yet.</td></tr> // Output
}
else
{
    <table>
        <tr><th>Movie</th></tr>
        @*
            Loop through Model.Movies Object;
            Use information to generate custom hyperlink used to navigate website directory;
        *@
        @foreach (var movie in Model.Movies)
        {

            <tr>
                <td>@Html.ActionLink(@movie.Name, "Details/" + @movie.Id)</td>
            </tr>
        }
    </table>
}